


<div class="d-flex">

  <div>
    <app-filtro-alumno (aulaEvento)="procesaAula($event)" ></app-filtro-alumno>

  </div>
  <div>

    <app-fecha (fechaEvento)="procesaFecha($event)"></app-fecha>
  </div>

</div>

<form action="">




<div class="container-fluid mt-4 p-1">



    <div class="row"> <div class="d-flex">

      
      <div class=""> <strong>Apellidos, Nombre</strong>
         </div>
     

      <div class="me-5">

        <strong>Entrada</strong>
      </div>

      <div class="me-5">

        <strong>Salida</strong>
      </div>
     
      <div class="me-5">
        <strong>Asistencia</strong>

        
      </div>
        
    </div>
    
   
        <hr></div>


  <div class="row" name="fila" *ngFor="let alumno of alumnos;let i=index">

    
  
    
   

    <div class="d-flex">

      
      <div [id]="alumno.id" class="nombre">{{alumno.apellidos}}, {{alumno.nombre}}</div>
     


  
      <div class="me-5">

        <input type="time" [id]="alumno.id+'entrada'">
      </div>

      <div class="me-5">

        <input type="time" [id]="alumno.id+'salida'">
      </div>
     
      <div class="me-5">

        <!-- <button (click)="cambiarAsistencia(alumno)" *ngIf="alumno.alta"  type="button" class="btn btn-success">Sí</button>
        <button (click)="cambiarAsistencia(alumno)" *ngIf="!alumno.alta"  type="button" class="btn btn-danger">No</button> -->

        <input type="checkbox" class="" [id]="alumno.id+'asistencia'">
        <!-- <label class="btn btn-danger" [for]="alumno.id">Checked</label><br> -->
      </div>
        
    </div>
    
   
        <hr>
    

  </div>
  


</div>
<div class="text-center">

  <button (click)="submit()"  type="button" class="btn btn-primary">Guardar</button> 
</div>

</form>

