


<div class="d-sm-flex">

  <div *ngIf="rol=='ADMINISTRADOR' || rol=='PROFESOR'">
    <app-filtro-alumno (aulaEvento)="procesaAula($event)" ></app-filtro-alumno>

  </div>
  <div >

    <app-fecha (fechaEvento)="procesaFecha($event)"></app-fecha>
  </div>

</div>

<form action="">




<div class="container-fluid mt-4 p-1">



    <div class="row d-none d-sm-none d-md-block">
       <div class="d-flex">


      <div class="" style="width: 50%;"> <strong>Apellidos, Nombre</strong>
         </div>


      <div class="me-5">

        <strong>Entrada</strong>
      </div>

      <div class="me-5">

        <strong>Salida</strong>
      </div>

      <div class="me-5">
        <strong>Asistencia</strong>


      </div>

    </div>


        <hr></div>


  <div class="row " name="fila" *ngFor="let alumno of alumnos;let i=index">






    <div class="d-md-flex d-sm-block">


      <div  [id]="alumno.id" class="nombre d-none d-sm-none d-md-block">{{alumno.apellidos}}, {{alumno.nombre}}</div>

      <div class=" col-sm-12 d-block d-sm-block d-md-none text-center " ><strong>{{alumno.apellidos}}, {{alumno.nombre}}</strong></div>




      <div class="me-5 text-center">
        <label style="width: 70px;"  class="me-2  d-md-none" for="alumno.id+'entrada'"><strong>Entrada</strong></label>

        <input *ngIf="rol=='ADMINISTRADOR' || rol=='PROFESOR'" type="time" [id]="alumno.id+'entrada'" >
        <input *ngIf="rol=='TUTOR'" disabled type="time" [id]="alumno.id+'entrada'" >

      </div>

      <div class="me-5 text-center">
        <label style="width: 70px;"  class="me-2  d-md-none" for="alumno.id+'salida'"><strong>Salida</strong></label>

        <input *ngIf="rol=='ADMINISTRADOR' || rol=='PROFESOR'"   type="time" [id]="alumno.id+'salida'">
        <input *ngIf="rol=='TUTOR'" disabled   type="time" [id]="alumno.id+'salida'">

      </div>

      <div class="me-5 ms-3 text-center" [id]="alumno.id+'asistencia'">
      </div>

    </div>


        <hr>


  </div>



</div>



<div *ngIf="rol=='ADMINISTRADOR' || rol=='PROFESOR'" class="text-center">

  <button (click)="comprobarAsistencia()"  type="button" class="btn btn-primary">Guardar</button>
</div>

</form>

