<div class="d-flex">

<div>
  <app-filtro-alumno (aulaEvento)="procesaAula($event)" ></app-filtro-alumno>

</div>
<div>

  <app-fecha (fechaEvento)="procesaFecha($event)"></app-fecha>
</div>

</div>




<div class="container-fluid mt-4 p-1">



    <div class="row"> <div class="d-flex">

      
      <div class="nombre"> <strong>Apellidos, Nombre</strong>
         </div>
     

      <div class="me-5">

        <strong>Entrada</strong>
      </div>

      <div class="me-5">

        <strong>Salida</strong>
      </div>
     
      <div class="me-5">
        <strong>Asistencia</strong>

        
      </div>
        
    </div>
    
   
        <hr></div>


  <div class="row " *ngFor="let alumno of alumnos">

    
  
    
   

    <div class="d-flex">

      
      <div class="nombre">{{alumno.apellidos}}, {{alumno.nombre}}</div>
     

      <div class="me-5">

        <input type="time" id="entrada">
      </div>

      <div class="me-5">

        <input type="time" id="salida">
      </div>
     
      <div class="me-5">

        <button (click)="cambiarAsistencia(alumno)" *ngIf="alumno.alta"  type="button" class="btn btn-success">Sí</button>
        <button (click)="cambiarAsistencia(alumno)" *ngIf="!alumno.alta" type="button" class="btn btn-danger">No</button>
        
      </div>
        
    </div>
    
   
        <hr>
    

  </div>
  


</div>


