
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import "~primeng/resources/themes/nova/theme.css";

/* You can add global styles to this file, and also import other style files */

.grayScale {
    filter: grayscale(1);
}


.celestito{

    background:#d5eff09c ;
}



.cdk-drag{
    z-index: 1200 !important;
}

.p-orderlist .p-orderlist-striped .p-orderlist-list .p-orderlist-item:nth-child(2n){

  background-color: rgb(238, 238, 238) !important;
}

.p-orderlist-list{
  max-height: 30rem !important;
  min-height: 15rem !important;

}
