
<div class="row">

    <div class=" offset-1 col-10 mt-5">


        <table class="table-responsive w-100 bg-light">
            <thead>
              <tr >
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Estado</th>
                <th scope="col">Historial</th>
        
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>Activo</td>
                <td>VER</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>Activo</td>
                <td>VER</td>
        
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>Baja</td>
                <td>VER</td>
        
              </tr>
            </tbody>
          </table>

    </div>
</div> 
