
<div class="row">



  <div class="row">
    
    <div class=" offset-1 col-10 mt-5 text-end">


      <a [routerLink]="['/home/registro']">Añadir<i class="bi bi-person-plus"></i></a>


    </div>

  </div>
    <div class=" offset-1 col-10">


        <table class="table-responsive w-100 bg-light " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
              <tr >
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Dni</th>
                <th scope="col">Aula</th>
                <th scope="col">Edad</th>
                <th scope="col">Comida</th>
                <th scope="col">Come en el centro</th>



        
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let alumno of alumnos">
                <th scope="col">{{alumno.id}}</th>
                <th scope="col">{{alumno.nombre}}</th>
                <th scope="col">{{alumno.apellidos}}</th>
                <th scope="col">{{alumno.dni}}</th>
                <th scope="col">{{alumno.aula.nombre}}</th>
                <th scope="col">{{alumno.fechaNacimiento}}</th>
                <th scope="col">{{alumno.comida}}</th>
                <th scope="col">{{alumno.comeEnCentro}}</th>

        
              </tr>
            </tbody>
          </table>

    </div>
</div> 
