
<div class="row">



  <div class="row">
    
    <div class=" offset-1 col-10 mt-1 text-end">


      <a [routerLink]="['/home/registro']" *ngIf="comprobarTutor()" >Añadir<i class="bi bi-person-plus"></i></a>


    </div>

  </div>
    <div class=" offset-lg-1 col-12 col-lg-10 text-center table-responsive" >



        <table class="table celestito table-striped   "
         datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" 
         >
            <thead>
              <tr >
                
                <td scope="col">Nombre completo</td>
                <!-- <td scope="col">Apellidos</td> -->
                <!-- <th scope="col">Dni</th> -->
                <td scope="col">Aula</td>
                <td scope="col">Edad</td>
                <td scope="col">Alimentación</td>
                <td  scope="col">Almuerzo </td>
                <td  scope="col">Estado</td>
                <td  scope="col"> </td>




        
              </tr>
            </thead>
            <tbody>
              <tr class="m-5" *ngFor="let alumno of alumnos">
                
                <td class="p-2" scope="col">{{alumno.nombre}}, {{alumno.apellidos}} </td>
                <!-- <td scope="col"></td> -->
                <!-- <th scope="col">{{alumno.dni}}</th> -->
                <td scope="col">{{alumno.aula.nombre}}</td>
                <td scope="col">{{alumno.fechaNacimiento}}</td>
                <td scope="col">{{alumno.comida}}</td>
                <td scope="col"><i *ngIf="!alumno.comeEnCentro" class="bi bi-x"></i><i *ngIf="alumno.comeEnCentro" class="bi bi-check-lg"></i></td>
                <td scope="col">
                  
                  <button (click)="cambiarEstado(alumno)" *ngIf="alumno.alta"  type="button" class="btn btn-success">Alta</button>
                  <button (click)="cambiarEstado(alumno)" *ngIf="!alumno.alta" type="button" class="btn btn-danger">Baja</button>
                 
                
                </td>
                <td scope="col">

                  <i (click)="editarAlumno(alumno.id)"  class="bi bi-pen me-1"></i> <i (click)="confirmarBorradoAlumno(alumno.id)" class=" ms-1 bi bi-trash"></i>

                </td>

        
              </tr>
            </tbody>
          </table>

    </div>
</div> 
